.admin-dashboard-container {
    h2 {
        color: #343a40;
    }

    table {
        animation: fadeInUp 0.5s ease;

        th {
            background-color: #007bff;
            color: #fff;
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}